@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*Scroll bar*/
::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-verde dark:bg-gray-700;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-600 dark:bg-slate-400 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-700 dark:bg-slate-500;
}

.video-carousel_container {
  @apply relative sm:w-[70vw] w-[88vw] md:h-[70vh] sm:h-[50vh] h-[35vh];
}

.actividad-descripcion {
  max-height: 6rem;
  overflow-y: auto;
  word-break: break-word;
  padding-right: 0.5rem;
}

.file-card {
  border-radius: 2rem;
  clip-path: polygon(0% 0%,
      calc(100% - 116.6px) 0.3px,
      calc(100% - 112px) 1.2px,
      calc(100% - 107.5px) 2.7px,
      calc(100% - 103.4px) 4.8px,
      calc(100% - 99.6px) 7.6px,
      calc(100% - 7.2px) 102.1px,
      calc(100% - 4.4px) 105.9px,
      calc(100% - 2.3px) 110.1px,
      calc(100% - 0.8px) 114.5px,
      100% 121.5px,
      100% 100%,
      0% 100%);
}

.gradient-card-one {
  background: radial-gradient(circle,
      rgba(100, 240, 39, 1) 0%,
      rgba(148, 233, 201, 1) 100%);
}

.gradient-card-two {
  background: radial-gradient(circle,
      rgba(55, 39, 240, 1) 0%,
      rgba(148, 171, 233, 1) 100%);
}

.gradient-card-three {
  background: radial-gradient(circle,
      rgba(240, 170, 39, 1) 0%,
      rgba(203, 233, 148, 1) 100%);
}